@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Gothic', sans-serif;
}

html,
body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  padding: 20px 2% 35px 2%;
  height: 130px;
}

header div.logo {
  float: left;
}

header nav.desktop {
  float: right;
  position: relative;
  top: 40px;
}

nav.mobile {
  margin-top: 40px;
  float: right;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  cursor: pointer;
  background-image: url('../imagens/menu.svg');
  display: none;
}

nav.mobile ul {
  display: none;
  width: 100%;
  left: 0;
  top: 95px;
  border-bottom: 2px solid #eb2d2d;
  z-index: 999;
  position: absolute;
  text-align: center;
  background-color: white;
}

nav.mobile li {
  font-size: 23px;
  padding: 20px 0;
  font-style: italic;
}

nav.mobile li a {
  color: black;
  text-decoration: none;
}

header nav.desktop ul {
  list-style-type: none;
}

header nav.desktop ul li {
  float: left;
  font-size: 28px;
  font-style: italic;
  padding: 0 28px;
}

header nav.desktop a {
  color: black;
  text-decoration: none;
}

/* CONTEUDO */

section.veiculos-destaque {
  padding: 50px 60px 0 2%;
}

section.veiculos-destaque .container {
  max-width: 1000px;
  padding: 40px 0;
}

.vitrine-destaque {
  float: left;
  width: 33.3%;
}

.vitrine-destaque .carro-img {
  width: 100%;
  padding-top: 80%;
  background-size: 80% 80%;
  margin: 10px 10px -52px 38px;
  background-repeat: no-repeat;
}

.vitrine-destaque h2 {
  padding-left: 36px;
  color: black;
  font-style: italic;
  font-size: 25px;
}

.vitrine-destaque p {
  padding-top: 8px;
  padding-left: 36px;
  color: #353535;
  font-size: 18px;
  font-style: italic;

}

.btn1 {
  color: white;
  font-style: italic;
  font-size: 24px;
  text-align: center;
  display: block;
  line-height: 40px;
  width: 81%;
  background-color: #eb2d2d;
  text-decoration: none;
  border-bottom: 5px solid #b21e1e;
}

.btn2 {
  color: white;
  margin-top: 15px;
  font-style: italic;
  font-size: 24px;
  text-align: center;
  display: block;
  line-height: 40px;
  width: 15%;
  background-color: #eb2d2d;
  text-decoration: none;
  border-bottom: 5px solid #b21e1e;
}

.vitrine-destaque a {
  margin-left: 36px;
  margin-top: 10px;
}

section.venda-single .container {
  padding: 40px 0;
  max-width: 1000px;
}

.info-veiculo {
  float: left;
  width: 60%;
  border: 1px solid green;
}

.descricao-veiculo {
  float: left;
  width: 40%;
  border: 1px solid blue;
}

.line-titulo {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.ln1 {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 15px;
  background: black;
}

.line-titulo h2 {
  position: relative;
  background: white;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  font-size: 28px;
  font-style: italic;
  text-transform: uppercase;
}

section.contato {
  padding: 50px 60px 0 2%;
}

section.contato form {
  max-width: 800px;
  margin: 0 auto;
}

section.contato .input-wraper {
  float: left;
  padding: 10px;
  margin-top: 7px;
}

section.contato input[type=text] {
  width: 100%;
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 18px;
  font-style: italic;
}

section.contato textarea {
  width: 100%;
  border: 1px solid #ccc;
  height: 120px;
  padding: 8px;
  resize: none;
  font-size: 18px;
  font-style: italic;

}

section.contato form .input-wraper:nth-of-type(5) {
  text-align: center;
}

section.contato input[type=submit] {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  cursor: pointer;
  width: 50%;
  display: inline-block;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

/* FOOTER */

footer {
  padding: 20px 2%;
  background: #252525;
}

footer nav {
  float: left;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li {
  float: left;
  font-style: italic;
  font-size: 23px;
  padding: 0 30px;
}

footer nav ul a {
  color: white;
  text-decoration: none;
}

footer p {
  float: right;
  color: white;
  font-size: 23px;
  font-style: italic;
  font-weight: 300;
}

.form-venda-wraper {
  margin-top: 5px;
}

.form-venda-wraper input[type=checkbox] {
  display: none;
}

.form-venda-wraper label {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
}

.form-venda-wraper input[type=checkbox]:checked+label>.circle {
  display: block;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: none;
  background: black;
  position: absolute;
  left: 2.9px;
  top: 2.7px;
}

.form-venda-wraper span {
  vertical-align: top;
  padding: 0 10px;
  display: inline-block;
}

.vitrine-venda {
  float: right;
  width: 70%;
}

.vitrine-venda .vitrine-destaque {
  margin-top: 20px;
}




@media screen and (max-width: 480px) {
  .vitrine-destaque {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .text-banner {
    padding: 30px;
  }

  .text-banner-single {
    width: 300px;
    font-size: 20px;
    padding-top: 20px;
  }

  .text-banner .text-banner-single:nth-of-type(4) {
    width: 280px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .text-banner .text-banner-single:nth-of-type(3) {
    width: 110px;
    margin-left: 15px;
  }

  .text-banner .text-banner-single:nth-of-type(2) {
    width: 150px;
    margin-left: 12px;
  }

  .text-banner .text-banner-single:nth-of-type(1) {
    width: 240px;
    margin-left: 9px;
  }

  section.veiculos-destaque .line-titulo h2 {
    font-size: 23px;
  }

  section.veiculos-destaque .container {
    max-width: 1000px;
    padding: 40px 0;
    text-align: center;
  }

  .vitrine-destaque {
    display: inline-block;
    float: none;
    width: 80%;
    margin-top: 20px;
  }

  .vitrine-destaque a {
    display: inline-block;
  }

}

@media screen and (max-width: 768px) {
  footer nav {
    display: none;
  }

  footer {
    text-align: center;
  }

  footer p {
    float: none;
  }

  .w50 {
    width: 100%;
  }

  section.servicos-descricao {
    flex-direction: column;
  }

  .half1 {
    text-align: left;
  }

  .half1-wraper {
    text-align: left;
    padding-right: 0;
  }

  .half1,
  .half2 {
    width: 100%;
    padding: 80px 4%;
  }

  section.banner {
    background-size: cover;
    background-position: 100px center;
    height: 80vh;
  }

  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: block;
  }

  .text-banner .text-banner-single:nth-of-type(4) {
    width: 395px
  }

  .text-banner .text-banner-single:nth-of-type(3) {
    width: 40%;
  }

  .text-banner .text-banner-single:nth-of-type(2) {
    width: 60%;
  }

  .text-banner .text-banner-single:nth-of-type(1) {
    width: 90%;
  }

}

@media screen and (max-width: 850px) {
  .half1-wraper a {
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .half1 {
    text-align: center;
  }

  .half1-wraper {
    text-align: left;
    padding-right: 0;
  }

  .half1-wraper a {
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1392px) {
  section.banner {
    background-size: cover;
    background-position: 100px center;
    height: 80vh;
  }

  .text-banner .text-banner-single:nth-of-type(4) {
    width: 400px
  }

  .text-banner .text-banner-single:nth-of-type(3) {
    width: 20%;
  }

  .text-banner .text-banner-single:nth-of-type(2) {
    width: 29%;
  }

  .text-banner .text-banner-single:nth-of-type(1) {
    width: 50%;
  }
}