@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Gothic', sans-serif;
}

html,
body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  padding: 20px 2% 35px 2%;
  height: 130px;
}

header div.logo {
  float: left;
}

header nav.desktop {
  float: right;
  position: relative;
  top: 40px;
}

nav.mobile {
  margin-top: 40px;
  float: right;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  cursor: pointer;
  background-image: url('../imagens/menu.svg');
  display: none;
}

nav.mobile ul {
  display: none;
  width: 100%;
  left: 0;
  top: 95px;
  border-bottom: 2px solid #eb2d2d;
  z-index: 999;
  position: absolute;
  text-align: center;
  background-color: white;
}

nav.mobile li {
  font-size: 23px;
  padding: 20px 0;
  font-style: italic;
}

nav.mobile li a {
  color: black;
  text-decoration: none;
}

header nav.desktop ul {
  list-style-type: none;
}

header nav.desktop ul li {
  float: left;
  font-size: 28px;
  font-style: italic;
  padding: 0 28px;
}

header nav.desktop a {
  color: black;
  text-decoration: none;
}

/* CONTEUDO */



/* RODAPE */

footer {
  padding: 20px 2%;
  background: #252525;
}

footer nav {
  float: left;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li {
  float: left;
  font-style: italic;
  font-size: 23px;
  padding: 0 30px;
}

footer nav ul a {
  color: white;
  text-decoration: none;
}

footer p {
  float: right;
  color: white;
  font-size: 23px;
  font-style: italic;
  font-weight: 100;
}


@media screen and (max-width: 480px) {
  .vitrine-destaque {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .text-banner {
    padding: 30px;
  }

  .text-banner-single {
    width: 300px;
    font-size: 20px;
    padding-top: 20px;
  }

  .text-banner .text-banner-single:nth-of-type(4) {
    width: 280px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .text-banner .text-banner-single:nth-of-type(3) {
    width: 110px;
    margin-left: 15px;
  }

  .text-banner .text-banner-single:nth-of-type(2) {
    width: 150px;
    margin-left: 12px;
  }

  .text-banner .text-banner-single:nth-of-type(1) {
    width: 240px;
    margin-left: 9px;
  }

  section.veiculos-destaque .line-titulo h2 {
    font-size: 23px;
  }

  section.veiculos-destaque .container {
    max-width: 1000px;
    padding: 40px 0;
    text-align: center;
  }

  .vitrine-destaque {
    display: inline-block;
    float: none;
    width: 80%;
    margin-top: 20px;
  }

  .vitrine-destaque a {
    display: inline-block;
  }

}

@media screen and (max-width: 768px) {
  footer nav {
    display: none;
  }

  footer {
    text-align: center;
  }

  footer p {
    float: none;
  }

  .w50 {
    width: 100%;
  }

  section.servicos-descricao {
    flex-direction: column;
  }

  .half1 {
    text-align: left;
  }

  .half1-wraper {
    text-align: left;
    padding-right: 0;
  }

  .half1,
  .half2 {
    width: 100%;
    padding: 80px 4%;
  }

  section.banner {
    background-size: cover;
    background-position: 100px center;
    height: 80vh;
  }

  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: block;
  }

  .text-banner .text-banner-single:nth-of-type(4) {
    width: 395px
  }

  .text-banner .text-banner-single:nth-of-type(3) {
    width: 40%;
  }

  .text-banner .text-banner-single:nth-of-type(2) {
    width: 60%;
  }

  .text-banner .text-banner-single:nth-of-type(1) {
    width: 90%;
  }

}

@media screen and (max-width: 850px) {
  .half1-wraper a {
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .half1 {
    text-align: center;
  }

  .half1-wraper {
    text-align: left;
    padding-right: 0;
  }

  .half1-wraper a {
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1392px) {
  section.banner {
    background-size: cover;
    background-position: 100px center;
    height: 80vh;
  }

  .text-banner .text-banner-single:nth-of-type(4) {
    width: 400px
  }

  .text-banner .text-banner-single:nth-of-type(3) {
    width: 20%;
  }

  .text-banner .text-banner-single:nth-of-type(2) {
    width: 29%;
  }

  .text-banner .text-banner-single:nth-of-type(1) {
    width: 50%;
  }
}








/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */